@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    font-family: "Montsterrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#fffaa7, #fbac08);
}

.logo {
    width: 200px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

.brand-logo {
    margin: 1rem;
    margin-left: 5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.fa {
    padding: 10px;
    font-size: 30px;


    text-align: center;

}

.fa-facebook {
    background-color: #4267B2;
    color: white;
}

.navbar-links li a {
    text-decoration: none;
    color: #ffc900;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: whitesmoke;
}

.phone-number:hover {
    background-color: white;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #555;
    border-radius: 10px;

}

@media(max-width:600px) {
    .toggle-button {
        display: flex;

    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .brand-logo {
        margin-left: .5rem;
    }


}

/* image gallery*/
/* Position the image container (needed to position the left and right arrows) */
img {
    vertical-align: middle;

}

.container {
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 18px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 15px;
    border-radius: 1px 0 0 1px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: grey;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* index main page*/
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* contact page*/
.contact-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact {
    text-align: center;
    font-size: 55px;
}

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 15 rgba(0, 0, 0, 0.1);
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #ffc900;
}

.form .input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form button {
    height: 55px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #4267B2;
}

@media screen and (max-width: 500px) {
    .form {
        flex-wrap: wrap;
    }
}
