@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    font-family: "Montsterrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #fffaa7, #fbac08);


}

.logo {
    width: 200px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

.brand-logo {
    margin: 1rem;
    margin-left: 5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.fa {
    padding: 10px;
    font-size: 30px;


    text-align: center;

}

.fa-facebook-f {
    background-color: #4267B2;
    color: white;
}

.navbar-links li a {
    text-decoration: none;
    color: #ffc900;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: whitesmoke;
}

.phone-number:hover {
    background-color: white;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #555;
    border-radius: 10px;

}

/* images on index page*/
.container {
    padding: 2rem;

}



.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    display: flex;
    aspect-ratio: 3/2;
    overflow-x: auto;
    scrollbar-width: none;
}

.column::-webkit-scrollbar {
    display: none;
}

.thumbnail {
    display: flex;
    aspect-ratio: 3/2;
    max-width: 10rem;
    object-fit: fill;
    float: left;
    border: #555 solid;

}

.row {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    border: 1px solid #777;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #6894d3;

}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 50rem;

}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides,
.myPurpleSlides,
.myUsaSlides,
.myFunSlides,
.myBlueSlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: grey;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* description text */
.desc {
    font-size: 30px;
    background-color: #6894d3;
    text-align: center;
    padding: 15px;

}

img.demo,
img.demoPurple,
img.demoBlue,
img.demoUsa,
img.demoFun {
    opacity: 0.6;
}



.active,
.demo:hover {
    opacity: 1;
}

.active,
.demoPurple:hover,
.demoFun:hover,
.demoUsa:hover,
.demoBlue:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* contact page*/


.container {

    background-color: white;
    position: relative;
    max-width: 700px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    justify-content: center;
    margin: 20px auto;

}

.contact {
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: black;
    font-weight: bold;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #6894d3;
}

.form button:hover {
    background: #2855b2;
}

/*responsive webpage css*/
@media(max-width:600px) {
    .toggle-button {
        display: flex;

    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .brand-logo {
        margin-left: .5rem;
    }

    .thumbnail {
        max-width: 8rem;
    }

    .container {
        width: 90%;
    }
}